################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HotandCold/Server/SchindlerSwipeServer/obj/Debug
/HotandCold/Server/SchindlerSwipeServer/bin
/HotandCold/Server/SchindlerSwipeServer/obj/Release
